.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
}

img {
  height: 325px;
}
.cardNueva {
  background-color: brown;
}
.boton {
  background-color: gray;
}
